// [pull-quote]

.pull-quote {
  color: $color-highlight;
  display: block;
  font-size: 120%;
  font-style: italic;
  margin: 2em;
  text-align: center;
}

.pull-quote--left {
  float: left;
  margin-left: 0;
  margin-right: 2em;
  text-align: right;
  width: 30%;
}

.pull-quote--right {
  float: right;
  margin-left: 2em;
  margin-right: 0;
  text-align: left;
  width: 30%;
}
